```{=html}
<div class="pub-list">
<ul class="list">
    <% for (const item of items) { %>
        <li class="pub-item" <%= metadataAttrs(item) %>>
            <div class="pub-row">
                <% if (item.image) { %>
                <div class="pub-thumbnail">
                    <img src="<%= item.image %>" alt="<%= item.title %>">
                </div>
                <% } %>

                <div class="pub-body">
                    <div class="pub-content listing-pub-info">
                        <p>
                            <%= item.authors %> (<%= item.year %>).
                            <strong><%= item.title %>.</strong>
                            <em><%= item.journal %></em><% if (item.volume) { %>, <%= item.volume %><% } %><% if (item.pages) { %>, <%= item.pages %><% } %>.
                            <% if (item.doi) { %>
                            doi: <a href="https://doi.org/<%= item.doi %>"><%= item.doi %></a>
                            <% } %>
                        </p>
                        <% if (item.description) { %>
                        <p class="pub-description"><%= item.description %></p>
                        <% } %>
                    </div>

                    <% if(item.categories) { %>
                    <div class="pub-categories">
                        <% for (const cat of item.categories) { %>
                            <span class="pub-category"><a href="#category=<%= cat %>">
                                <%= cat %>
                            </a></span>
                        <% } %>
                    </div>
                    <% } %>

                    <% if (item.links && item.links.length > 0) { %>
                    <div class="pub-links-bar">
                        <% for (const link of item.links) { %>
                        <a href="<%- link.url %>" class="pub-link" target="_blank">
                            <i class="<%- link.icon %>"></i> <%= link.name %>
                        </a>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </li>
    <% } %>
</ul>
</div>
```
